.vagrant/**/*
diplomas/CertificateOfCompletion_Red Hat Certified Engineer EX294 Cert Prep 1 Foundations of Ansible.pdf
Ex_Files_Red_Hat_EX294_CP_2/**/*.*
Ex_Files_Red_Hat_EX294_CP_2/Exercise Files/Ch01/*.*
Ex_Files_Red_Hat_EX294_CP_2/Exercise Files/Ch06/**/*.*
Ex_Files_Red_Hat_EX294_CP_2/Exercise Files/Ch01/vimrc
Ex_Files_Red_Hat_EX294_CP_2/Exercise Files/Ch06/files/RPM-GPG-KEY-EPEL-8
Ex_Files_Red_Hat_EX294_CP_2/Exercise Files/Ch06/files/RPM-GPG_KEY-EPEL-7
